<div class="flex m-auto h-screen justify-center">
  <form class="p-4 rounded-lg border m-auto w-1/4">

    <h1 class="text-center text-xl">Register</h1>

    <div class="my-5 w-full">
      <label for="email">E-Mail</label>
      <input type="email" id="email" class="p-2 rounded w-full border" placeholder="Input E-Mail" />
    </div>

    <div class="my-5 w-full">
      <label for="password">Password</label>
      <input type="password" id="password" class="p-2 rounded w-full border" placeholder="Password"/>
    </div>

    <div class="my-5 w-full">
      <label for="password">Confirm Password</label>
      <input type="password" id="cPassword" class="p-2 rounded w-full border" placeholder="Confirm Password"/>
    </div>

    <div class="my-5 w-full p-2 rounded">
      <input
        type="submit"
        id="email"
        class="p-2 w-full bg-green-700 text-white hover:bg-green-900"
      />
    </div>
  </form>
</div>
